
        <div style="margin-left: 50px;"><label >Single File Upload</label>
            <div>
                <input #myInput type="file" name="file" (change)="uploadSingleFile($event.targrt.files)">
        
        
            </div>
            <div>
                {{this.fileData.name}}
            </div>
        </div><br/>


<div style="margin-left: 50px;"><label>Multiple File Upload</label>
    <div>
        <input multiple #myInput type="file" name="file" (change)="uploadFile($event)">


    </div>
    <div *ngFor="let files of this.arrayofFiles">
        {{files.name}}
    </div>
</div>